body {background-color: rgba(179, 250, 191, 0.486);}

#inhalt1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

span {font-weight: bolder;}

#Los {font-size: 1.09em;
    font-weight: bolder;
    color: rgb(76, 141, 85);}

button {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #555555;
    border: none;
    color: white;
    margin: 4px 25px;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 12px;}


button:hover {background-color: rgb(76, 141, 85);}